@import '../../../assets/colors.scss';

.header {
  background: $primary-color;
  margin-bottom: 2em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 700;
  color: $secondary-color;
  font-size: 30px;
}

.header-menu {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    li {
      margin: 0 6px;
      a {
        color: $secondary-color;
        font-size: 700;
      }
    }
  }
}
