.wrapper {
  height: 100vh;
  background-color: pink;
  .inner-wrapper {
    padding: 0 48px;
    height: inherit;
  }
}

.fullscreen-menu {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  height: 100%;
  .vertical-menu {
    list-style: none;
    padding: 0;
    li {
      a {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
