form {
  border: #3f51b5 1px solid;
  padding: 30px 24px;
  border-radius: 3px;
  box-shadow: 0 0px 4px 0px rgba(76, 0, 130, 0.4);
  background: rgba(76, 0, 130, 0.01);
}

h4 {
  color: #3f51b5;
}

.full-width {
  width: 100%;
}
