<form>
  <h4>Fyll i formuläret</h4>
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput color="primary" placeholder="Namn" value="" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" value="" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput placeholder="Adress" value="" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput placeholder="Var bor du?" value="" />
    </mat-form-field>
  </div>

  <button class="full-width" color="primary" mat-stroked-button>
    Skicka!
  </button>
</form>
