<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="name">Namn</label>
        <input
          id="name"
          class="form-control"
          type="text"
          placeholder="Ditt namn"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          class="form-control"
          id="email"
          type="text"
          placehoder="Din email"
        />
        <small class="small-input-text"
          >Vi kommer aldrig att dela din mail till andra företag, vi är inga
          svin helt enkelt :)</small
        >
      </div>

      <div class="form-group">
        <label for="address">Adress</label>
        <input
          class="form-control"
          id="address"
          type="text"
          placeholder="Din address"
        />
      </div>

      <div class="form-group">
        <label for="city">Stad</label>
        <input
          class="form-control"
          type="text"
          id="city"
          placeholder="Var bor du?"
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>
  </div>
</div>
